.container {

  @media screen and (min-width: 768px) {
    width: 100%;    
  }
}

.wrapper {

  @include themify($themes) {
    background: themed('colorBackgroundBody');
  }

  &.wrapper--full-width {

    .container__wrap {
      padding-left: 0;

      @media screen and (min-width: 576px) {
        padding-left: 90px;
      }




    }
  }

  &.top-navigation{

    .container__wrap{

      @media screen and (min-width: 576px) {
        padding-left: 0;
      }
      
    }
  }

  .Toastify__toast-container--top-right {
    top:80px;
    
}

}

.container__wrap {
  padding-left: 0;
  padding-top: 90px;
  min-height: 100vh;
  transition: padding-left 0.3s;
  overflow: hidden;
  @media screen and (min-width: 576px) {
    padding-left: 225px;
    padding-right: 25px;
  }

          @media screen and (max-width: 768px) {
        padding: 0 0px !important;
      } 
}