.material-form {

  .checkbox_label {

    margin-left: 25px;
  }

  .material-form__field {
    width: 100%;
    margin-bottom: 20px;

    & > div:before {

      @include themify($themes) {
        border-bottom-color: themed('colorFieldsBorder');
      }
    }

    & > div:hover:before {
      border-bottom: 1px solid $color-cian !important;
    }

    & > div:after {
      border-color: $color-cian;
    }

    input, textarea {
      font-size: 16px;

      @include themify($themes) {
        color: themed('colorText');
      }
    }

    svg {

      @include themify($themes) {
        fill: themed('colorText');
      }
    }
  }

  .material-form__label {
    margin: 0;

    @include themify($themes) {
      color: themed('colorGrey');
    }
  }

  .checkbox-btn__checkbox-custom {
    width: 20px;
    height: 20px;
    top:3px;


    svg {
      margin-top:-10px;
      margin-left:0px;
      height:18px;
      width:18px;
      fill: $color-green;
    }
  }

  label {
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    @include themify($themes) {
      color: themed('colorGrey');
    }
  }

  .setting-checkbox {
    position: relative;
  }

  .badge-success {
    background: $color-green;
    padding: .55em 0.8em;
    font-size: 75%;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

  }
}

.material-form__option {
  font-size: 16px !important;
  height: 18px !important;
}
