.UkList  {
max-width: 1360px;

    .company__card  {

        .logo__wrap {
            text-align: center;
        }
        .uk__logo {
            width:auto;
        }

        .big {
            font-size: 140%;
        }
    }
}