.account {
  display: flex;
  overflow-y: auto;
    box-sizing: inherit;
    max-width: 375px;
margin: 0 auto;
    box-shadow: 0px 10px 30px 15px rgba(0, 0, 0, 0.075);
    border-radius: 10px;
float: none;


            @media screen and (max-width: 576px) {

    padding: 95px 0px 0 0px !important;
    } 



  .account__wrapper {
    margin: auto;
    padding: 0;
    min-width: 70%;
  }
  .card {
    padding: 0;
  }
  .card-body {
box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.075);


    .card__title {
      text-align: center;
    }


  }

  .account__card {

    padding: 0;
    max-width: 950px;
    width: 100%;
    width: 100%;
    margin: 0 auto;
    

    .subhead {
      font-size: 14px;
      margin-top: 15px;
    }
    
     h4 {
      font-size: 14px;
      font-weight: 500;
      color:#FFF
    }

    p {
      margin: 0;
      a {
        color:#333;
        text-decoration: underline;
      }
    }
    .row {


    .row {
          box-shadow: 0 0 0 0;
    }
    }



    .material-form {
      padding: 0;
      margin: 0;
    }

    .side {
      padding: 6%;
      min-height: 500px;
      &.side__left {
background: #ee1a2d;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3% 7%;
    color: #FFF;
    position: absolute;
    left: 10%;
    top: -40px;
    max-width: 300px;
      }
      &.side__right {
            display: flex;
    align-items: center;
    justify-content: center;
      }
    }

    .text {
    }
  
  }
.disclamer {
  font-size: 12px;
}
  .wizard__step {
    display: inline-block;
    width:35px;
    height:35px;
    line-height: 35px;
    border-radius: 50%;
text-align: center;
    &.wizard__step--active {
      background: #ee1a2d;
      p {
color:#FFF;
      }
      
    }
  }
.modal__title {
width: 100%;
text-align: center;
margin-bottom: 50px;
}


.register__icons {
  img {
    max-width: 48px;
  }
}

.confirmation {
    margin: 0 auto;
}
  .account__profile {
    text-align: center;
  }

  .account__btns {
    display: flex;
    width: calc(100% + 10px);
    margin: -10px 0 -20px -10px;

    a {
      margin: 10px 0 20px 10px;
      white-space: nowrap;
    }
  }

  .account__btn {
    width: 100%;
    margin-right: 0;
  }

  .account__avatar {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    overflow: hidden;
  }

  .account__name {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 15px;
    margin-top: 5px;
  }

  .account__sub {
    margin-top: 0;
    margin-bottom: 10px;
    color: $color-additional;
    font-size: 11px;
    line-height: 15px;
  }

  .account__forgot-password {
    position: absolute;
    font-size: 11px;
    line-height: 15px;
    bottom: -18px;
    right: 0;

    a {
      color: $color-red;

      &:hover {
        color: $color-red-hover;
        text-decoration: none;
      }
    }
  }

  .form__form-group--forgot {
    margin-bottom: 40px;
  }

  .account__or {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 20px;
    position: relative;

    &:before, &:after {
      content: "";
      height: 1px;
      width: calc(50% - 90px);
      background: #dddddd;
      position: absolute;
      top: 10px;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .account__social {
    text-align: center;
  }

  .account__social-btn {
    display: inline-block;
    height: 38px;
    width: 38px;
    border-radius: 5px;
    padding: 9px;
    margin-right: 10px;
    transition: all 0.3s;
    border: none;

    &:last-child {
      margin-right: 0;
    }

    svg {
      fill: #ffffff;
      height: 20px;
      width: 20px;
    }

    &.account__social-btn--facebook {
      background: #4766a4;

      &:hover {
        background: darken(#4766a4, 10%);
      }
    }

    &.account__social-btn--google {
      background: #c74d4d;

      &:hover {
        background: darken(#c74d4d, 10%);
      }
    }
  }

  .account__head {
    margin-bottom: 30px;
    padding-left: 10px;
    border-left: 4px solid $color-red;
  }

  .account__logo {
    font-weight: 700;
  }

  .account__logo-accent {
    color: $color-red;
  }

  .account__have-account {
    text-align: center;
    margin-top: 20px;

    a {
      color: $color-red;
      transition: all 0.3s;

      &:hover {
        color: $color-red-hover;
        text-decoration: none;
      }
    }
  }

  &.account--photo {
    background: url(../img/404/bg_404.png) no-repeat center;
    background-size: cover;

    .account__card {
      background-color: rgba(0, 10, 16, 0.8);
    }

    .form__form-group-icon, .form__form-group-button {
      background: transparent;
    }

    .form__form-group-icon, input:not(:last-child) {
      border-right: none;
    }

    .form__form-group-button, input {
      border-left: none;
    }

    .form__form-group-button.active {
      border-color: #eff1f5;

      svg {
        fill: $color-accent;
      }
    }

    input {
      color: #ffffff;

      &:focus {
        border-color: #eff1f5;
      }
    }

    p {
      color: #ffffff;
    }

    .account__title {
      color: #ffffff;
    }
  }

  @media screen and (max-width: 520px) {

    .account__card {
      padding: 35px 30px;
    }
  }

  @media screen and (max-width: 425px) {

    .account__btns {
      flex-wrap: wrap;
    }
  }
}


.reg__features {
  text-align: center;
  max-width: 60%;
  margin: 10px auto;
  .feature__title {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.44;
    color: #333;
  }
    .feature__icon {

      img {
        max-width: 60px;
      }
  }

}