.investorPage {

.card {
    height: auto;
}
.card-body {
        padding: 20px 15px;
}
    .nav-tabs {
        display: block;


        a.nav-link {
            padding: 20px 0;
        }
    }

     .tab-pane {
         padding: 0;
     }
}