.investorPage {

.card {
    height: auto;
}
.card-body {
        padding: 20px 15px;
}
    .nav-tabs {
        display: block;


        a.nav-link {
            padding: 20px 0;
        }
    }

     .tab-pane {
         padding: 0;
     }



.tabs {


    .nav-tabs {

        border-bottom: 0px solid #dee2e6;


        li {


        .nav-link {

            svg {
                margin-right: 5px;
            }
font-size:16px;
        &.active {
             color:red;
            border: 0;
            border-bottom: 2px solid transparent;

    }
    } 
    
    }
    }
    
    
    
    


    li {
     .nav-link {

        &.active {
            color:red;
            border: 0;
            border-bottom: 2px solid transparent;
        }
     }

    }



}

}